
/* * {
    box-sizing: border-box;
  }
  
  .App {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  
  .App .column {
    width: 30%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  
  .droppable-col {
    width: 100%;
    background-color: #5463ff;
    padding: 1% 1% 0 1%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
  }
  .droppable-col::-webkit-scrollbar {
    display: none;
  }
  .item {
    margin-bottom: 5%;
  
    background-color: #5463ff;
    color: white;
    border: 2px solid white;
    padding: 1%;
    border-radius: 7px;
    max-height: 70%;
    max-width: 100%;
  }
  .headbar {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 207, 51, 70%);
  }
  
  .Text-headbar a0 {
    margin-left: 0.5%;
  
    position: fixed;
    background-color: #5463ff;
    border-radius: 5px;
    width: 4%;
    padding-left: 0.8%;
    margin-top: 0.2%;
    padding-top: 0.5%;
  }
  .Text-headbar a1 {
    color: black;
    font-size: 20px;
    margin-left: 12%;
    font-weight: bold;
    position: fixed;
    padding-top: 10px;
  }
  .Text-headbar a2 {
    color: black;
    font-size: 20px;
    margin-left: 45%;
    position: fixed;
    font-weight: bold;
    padding-top: 10px;
  }
  .Text-headbar a3 {
    color: black;
    font-size: 20px;
    margin-left: 80%;
    font-weight: bold;
    padding-top: 10px;
  }
  
  .item.dragging {
    background-color: white;
  }
  
  .button {
    background-color: rgba(255, 207, 51, 100%);
    border-radius: 15px;
    margin-top: 5%;
    width: 50%;
    font-weight: bold;
    position: grid;
  }
  .button aBUTTON {
    font-weight: bold;
    font-size: 12pt;
    padding-left: 6px;
  }
  
  .add-text {
    margin-right: 2%;
    margin-left: 2%;
  } */

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}
  
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #ccc;
}
  
.custom-scroll::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
}
  
.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.app_nav {
    /* box-shadow:1px 20px #fff; */
    border-bottom: 1px 20px #FF9900;
    position: sticky;
    top: 0;
    background-color: #102F5E;
}
  
.app_boards_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding-top: 20px;
    background-color: #FFB04B;
}
  
.app_boards {
    height: 100%;
    width: fit-content;
    padding: 10px 30px;
    display: flex;
    gap: 30px;
}
  
.app_boards_last {
    flex-basis: 290px;
    min-width: 290px;
}
  
.app_boards_add-board {
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(239, 239, 239, 0.12);
    width: 100%;
    text-align: center;
}
.app_boards_add-board_edit {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}